.candle-count-display {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #f0e4d0;
  background-color: #ff8fab;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ffc2d1;
}

.candle-count-display span {
  font-weight: bold;
  color: #AD030F;
}